.header-navigation {
  background-color: transparent;
  margin-bottom: 0;
  border: none;
  border-radius: 0;
}
.header-navigation .thm-container {
  max-width: 100%;
  background: transparent;
  padding: 0 40px;
  position: relative;
}
.header-navigation .thm-container .navbar-header {
  position: absolute;
  top: 50%;
  left: 40px;
  transform: translateY(-50%);
}
.header-navigation .thm-container .navbar-brand {
  height: auto;
  padding: 0px 0;
}
.header-navigation .thm-container .main-navigation {
  text-align: center;
  padding: 0;
}
.header-navigation .thm-container .right-side-box {
  position: absolute;
  top: 50%;
  right: 40px;
  transform: translateY(-50%);
}
.header-navigation .thm-container .right-side-box .social a {
  width: 59px;
  height: 59px;
  border-radius: 50%;
  color: #fff;
  font-size: 18px;
  line-height: 59px;
  text-align: center;
  line-height: 59px;
}

.header-navigation ul.navigation-box {
  float: none;
  display: inline-block;
  vertical-align: middle;
}
.header-navigation ul.navigation-box li a .sub-nav-toggler {
  display: none;
}
.header-navigation ul.navigation-box > li {
  position: relative;
  padding: 20px 0;
  display: inline-block;
  cursor: pointer;
}
.header-navigation ul.navigation-box > li:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #c4c4c4;
  margin-left: 35px;
  margin-right: 35px;
}
.header-navigation ul.navigation-box > li:first-child:before {
  display: none;
}
.header-navigation ul.navigation-box > li + li {
  margin-left: 0px;
}
.header-navigation ul.navigation-box > li.active > a,
.header-navigation ul.navigation-box > li.current > a,
.header-navigation ul.navigation-box > li > a:active,
.header-navigation ul.navigation-box > li > a:focus,
.header-navigation ul.navigation-box > li:hover > a {
  color: #2884c6;
}
.header-navigation ul.navigation-box > li > a {
  padding: 0;
  color: #757575;
  font-size: 18px;
  transition: all 0.4s ease;
  font-weight: 500;
  display: inline-block;
}
.header-navigation ul.navigation-box > li > ul.sub-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 100000;
  float: left;
  min-width: 239px;
  padding: 15px 20px;
  text-align: left;
  list-style: none;
  background-color: #f05f40;
  background-clip: padding-box;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.4s ease, visibility 0.4s ease;
  transition: opacity 0.4s ease, visibility 0.4s ease;
}
.header-navigation ul.navigation-box > li > ul.sub-menu.right-align {
  left: auto;
  right: 0;
}
.header-navigation ul.navigation-box > li:hover > ul.sub-menu {
  opacity: 1;
  visibility: visible;
}
.header-navigation ul.navigation-box > li > ul.sub-menu > li {
  display: block;
  position: relative;
}
.header-navigation ul.navigation-box > li > ul.sub-menu > li > a {
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  padding: 11.5px 0;
  display: block;
  line-height: 26px;
  padding-left: 27px;
  white-space: nowrap;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.header-navigation ul.navigation-box > li > .sub-menu li:hover > a {
  background: #fe553d;
  color: #fff;
  position: relative;
}
.header-navigation ul.navigation-box > li > .sub-menu > li > ul.sub-menu {
  position: absolute;
  top: 0%;
  left: 100%;
  z-index: 100000;
  float: left;
  min-width: 239px;
  padding: 15px 20px;
  text-align: left;
  list-style: none;
  background-color: #f05f40;
  background-clip: padding-box;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.4s ease, visibility 0.4s ease;
  transition: opacity 0.4s ease, visibility 0.4s ease;
}
.header-navigation ul.navigation-box > li > .sub-menu > li:hover > ul.sub-menu {
  opacity: 1;
  visibility: visible;
}
.header-navigation ul.navigation-box > li > .sub-menu > li > ul.sub-menu > li {
  display: block;
  position: relative;
}
.header-navigation
  ul.navigation-box
  > li
  > .sub-menu
  > li
  > ul.sub-menu
  > li
  > a {
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  padding: 11.5px 0;
  display: block;
  line-height: 26px;
  padding-left: 27px;
  white-space: nowrap;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.header-navigation
  ul.navigation-box
  > li
  > .sub-menu
  > li
  > .sub-menu
  li:hover
  > a {
  background: #f05f40;
  color: #fff;
  position: relative;
}
.header-navigation.stricky-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99999;
  background: #fff;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.32);
}
.header-navigation.stricky-fixed .thm-container {
  box-shadow: none;
}
.header-navigation.stricky-fixed .thm-container .navbar-brand {
  padding-top: 27px;
  padding-bottom: 27px;
}
.header-navigation.stricky-fixed ul.navigation-box > li {
  padding-top: 30px;
  padding-bottom: 30px;
}
